# Compiled Object files 

*.slo

*.lo

*.o

*.obj

*.exe


*.dll
# Compiled Dynamic libraries

*.so

*.dylib


# Compiled Static libraries

*.lai

*.la

*.a

*/Debug/*

*Release*

ipch
*.sdf
*.sln
*.vcxproj
*.user
*.filters
*.ncb
*.opt
*.plg
*.suo
*.vcproj
*.tlog
*.res
*.pch
*.idb
*.pdb
